.container{
    text-align: center;
}
input{
    height: 30px;
    margin: 10px 0px;
}
button{
    height: 30px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 30px;
}
#calc{
    background: green;
    border: none;
    color: aliceblue;
}
#clar{
    background: rgb(197, 11, 11);
    border: none;
    color: aliceblue;
}